.features {
  background-color: $color-grey-light-1;
  grid-column: center-start / center-end;
  margin: 15rem 0;
  display: grid; // grid-template-columns: repeat(3, 1fr);
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 6rem;
  align-items: start;
  @media only screen and (max-width: $lg) {
    grid-template-columns: repeat(2, minmax(25rem, 1fr));
  }
}

.feature {
  display: grid;
  grid-template-columns: [icon-start] min-content [icon-end content-start] 1fr [content-end];
  grid-row-gap: 1.5rem;
  grid-column-gap: 2.5rem;
  &__icon {
    fill: $color-primary;
    width: 4.5rem;
    height: 4.5rem;
    transform: translateY(-1rem);
  }
  &__text {
    font-size: 1.7rem;
    grid-column: content-start / content-end;
  }
  @media only screen and (max-width: $md) {
  grid-template-columns: repeat(2, minmax(15rem, 1fr));
  }

}